<h1>{{data.heading}}</h1>

<mat-card>

  <img [class.tagline]="data.tagline" mat-card-image [src]="data.image" alt="Photo of a Shiba Inu">

  <h2 *ngIf="data.title">{{data.title}}</h2>

  <h3 *ngIf="data.tagline">{{data.tagline}}</h3>

  <p *ngIf="data.description">{{data.description}}</p>

  <mat-card-actions (click)="openBottomSheet(data.sdg_number)" matRipple *ngIf="data.caption">
    <p class="caption">{{data.caption}}</p>
    <mat-icon>expand_less</mat-icon>
  </mat-card-actions>

</mat-card>
